{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>Hello! I'm Vansh Sambhaji Gosavi, an enthusiastic Information Technology (I.T.) Engineer currently pursuing my B.Tech at Shri Vile Parle Kelavani Mandal's Institute of Technology in Dhule. My journey into the world of technology has been driven by a passion for learning and innovation.</p>
      <p>With a solid foundation in programming languages like C and C++, I am always eager to expand my skills and take on new challenges. My expertise extends to data structures, and I pride myself on being a fast learner, a creative thinker, and an innovative problem-solver.</p>

      <h2>Key Skills</h2>
      <ul>
        <li><strong>Programming Languages:</strong> C, C++</li>
        <li><strong>Teamwork:</strong> Collaborating effectively with peers</li>
        <li><strong>Creativity and Innovation:</strong> Developing new ideas and solutions</li>
        <li><strong>Presentation Skills:</strong> Communicating ideas clearly and effectively</li>
        <li><strong>Fast Learner:</strong> Quickly adapting to new technologies and methodologies</li>
      </ul>

      <h2>Achievements</h2>
      <ul>
        <li><strong>Avishkar Innovation Competition:</strong> 1st place at the institute level</li>
        <li><strong>Gandhi Exam Competition:</strong> 2nd place at the district level</li>
        <li><strong>Essay Competition:</strong> 1st place at the taluka level</li>
      </ul>

      <h2>Education</h2>
      <ul>
        <li><strong>10th Grade:</strong> Ahilyadevi Vidyalaya, Avadhan - 88.20%</li>
        <li><strong>12th Grade:</strong> S.S.V.P.S. College, Dhule - 73.67%</li>
        <li><strong>B.Tech:</strong> Shri Vile Parle Kelavani Mandal's Institute of Technology, Dhule - Currently in 2nd year</li>
      </ul>

      <h2>Internships</h2>
      <ul>
        <li><strong>Web Development Internship:</strong> Let's Grow More</li>
      </ul>

      <p>Feel free to connect with me at <a href="mailto:Vanshgosavi7@gmail.com">Vanshgosavi7@gmail.com</a> or call me at 9359775740. I'm always open to discussing new opportunities and collaborations in the tech world.</p>
    </div>
  </div>
</div>

<hr>

{% include "footer.html" %}
